.auth-page-info {
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 530px;
  width: 400px;
}

// body {
//   background: url(wallpaper.jpg);
//   height: 100%;
//   margin: 0px;
//   width: 100%;
//   background-size: cover;
//   background-position: center center;
//   background-attachment: fixed;
// }

.auth-page #video-container {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
}

#logo {

  position: absolute;
  bottom: 0px;
  display: block;
  bottom: 40px;
}

.switch-login-state {
  font-size: 14px;
  padding: 10px;
  text-align: center;
  color: blue;
  width: 260px;
  margin: auto;
  /* background: lightgreen; */
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}


.page-commands #take {
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  position: relative;
  text-align: center;
  background: lightblue;
  width: 300px;
  height: 35px;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
}

#logo {
  display:block;
}

.page-commands #take:hover {
  background: lightgreen;
  cursor: pointer;
}

.page-commands .userName {
  width: 300px;
  margin: 0 auto;
  display: block;
  margin-top: 10px;
  height: 36px;
  font-size: 20px;
  border-radius: 4px;
}
