.graphs {
  width: 100%;
  margin: auto;
}

.top-graphs {
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

#line_graph {
  height: 400px;
  width: 1000px;
  clear: both;
  float: left;
  // border: 1px solid black;
  // border-left: 1px solid black;
}

#pie_chart {
  height: 400px;
  margin: 20px;
  width: 40%;
  float: left;
  border: 1px solid black;
  // border-bottom: 1px solid black;
}

#bar_graph {
  height: 400px;
  width: 50%;
  float: left;
  border: 1px solid black;
  margin: 20px;
  // border-right: 1px solid black;
}

.bottom-graph {
  margin: auto;
  width: 1162px;
  border: 1px solid black;
  display: flex;
}

#emotion-list {
  float: left;
  list-style: none;
  height: 400px;
  padding: 0px;
  margin: 0px;
  width: 160px;

  li {
    width: 100%;
    cursor: pointer;
    font-size: 24px;
    height: 12.52%;
    display: block;
    border-bottom: 1px solid black;
    // border-right: 1px solid black;
    border-left: 1px solid black;
    margin: 0px;
    text-align: center;
    padding-top: 11px;
  }

  .active {
    background-color: white;
    border-left: 1px solid white;
  }

  .last {
    // border-bottom: 1px solid black;
  }
}
