.outer-message-div {
  height: 100%;
  width: 100%;
}

.text-form {
  // display: block;
  // position: relative;
  // top: 100px;
  height: 400px;
  padding: 0px;
  width: 798px;
  font-size: 24px;
  // margin: auto;
}

.form-and-slider {
  display: block;
  position: relative;
  top: 100px;
  height: 100%;
  width: 800px;
  margin: auto;

  textarea {
    resize: none;
  }
}

.slider-box {
  // position: relative;
  height: 50px;
  width: 100%;
  // margin: auto;
}

.slider-bar {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, red, yellow, #66FF00);
}

.slider-bar2 {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, white, blue);
}

.pointer {
  height: 100%;
  width: 20px;
  transition: all 2.5s;
  background: black;
  position: relative;
  bottom: 50px;
}

.mood-sentence {
  position: relative;
  bottom: 36px;
  font-size: 24px;
}
