<!DOCTYPE html>
<html>
<head>
  <title>Moodly</title>
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
