<!DOCTYPE html>
<html>
<head>
  <title>Moodly</title>
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<script src="https://websdk.live.gotoassist.com/concierge.min.js"></script>
<script>
    concierge.setApplicationKey("MTM1Njs0OTg=-1xms4197044cvdjez40ar3qi412zartlmgw4sc9y43tf86dn1bvt1berl091fd12");
    concierge.addDefaultButton("Questions");
</script>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
  </script>
</head>
<body id="body">
  <script type="text/javascript">
    window.current_tab = 'moodring';
  </script>

<%= yield %>

</body>
</html>
